<!-- /templates/base.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<body class="d-flex h-100 text-center">
<div class="container">
    <div class="col-8 mx-auto text-center">
        <form method="post"> {% csrf_token %}
            <h3 class="h3 mb-3 fw-normal">Please log in</h3>
            <hr/>
            <div class="bg-light p-4 p-md-5 border rounded-3">
                {{ form|crispy }}
                <br/>
                <button class="btn btn-primary" type="submit">Log in</button>
                <span> or, </span>
                <button class="btn btn-primary" type="submit">
                    <a href="{% url 'signup' %}" class="text-decoration-none text-white">Sign up</a>
                </button>
                <p><a href="{% url 'password_reset' %}" class="text-decoration-none">Forgot password?</a></p>
            </div>
        </form>
    </div>
</div>
</body>
{% endblock content %}