<!--templates/registration/password_reset_done.html-->
{% extends 'base.html' %}
{% block title %}Email Sent{% endblock title %}
{% block content %}
<body class="d-flex h-100">

<div class="container">
    <div class="col-5 mx-auto text-center">
        <h3 class="h3 mb-3 fw-normal">Email sent</h3>
        <hr/>
        <p>We've emailed you instructions for resetting your password. </p>
        <p>Back to <a href="{% url 'article_list' %}">all articles</a></p>
    </div>
</div>
</body>
{% endblock content %}