<!--templates/registration/password_change_form.html-->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Change password {% endblock title %}

{% block content %}
<body class="d-flex h-100">

<div class="container">
    <div class="col-5 mx-auto text-center">
        <form method="post"> {% csrf_token %}
            <h3 class="h3 mb-3 fw-normal">Change password</h3>
            <hr/>
            <div class="bg-light p-4 p-md-5 border rounded-3">
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Change password</button>
            </div>
        </form>
    </div>
</div>
</body>
{% endblock content %}