{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Forgot password {% endblock title %}
{% block content %}
<body class="d-flex h-100">

<div class="container">
    <div class="col-5 mx-auto text-center">
        <form method="post"> {% csrf_token %}
            <h3 class="h3 mb-3 fw-normal">Forgot password?</h3>
            <hr/>
            <div class="bg-light p-4 p-md-5 border rounded-3">
                <p>Enter your email address, we will email you with reset instructions.</p>
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Change password request</button>
            </div>
        </form>
    </div>
</div>
</body>
{% endblock content %}