<!--templates/registration/password_reset_confirm.html-->
{% block title %} Enter your new password{% endblock title %}
{% block content %}
<body class="d-flex h-100">

<div class="container">
    <div class="col-5 mx-auto text-center">
        <form method="post"> {% csrf_token %}
            <h3 class="h3 mb-3 fw-normal">Set new password</h3>
            <hr/>
            <p>We've emailed you instructions for resetting your password. </p>
        </form>
    </div>
</div>
</body>
{% endblock content %}