<!--templates/registration/signup.html-->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="col-8 mx-auto text-center ">
        <form method="post"> {% csrf_token %}
            <h3 class="h3 mb-3 fw-normal">Sign up</h3>
            <hr/>
            <div class="bg-light p-4 p-md-5 border rounded-3">
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Sign up</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}