/* static/css/base.css */

/* fundamental styles */
body {
    background-color: #fffffe;
}

h1{
    color: #094067;
}

a{
    color: #3da9fc;
}

p {
    color: #5f6c7b;
}

.btn {
    border: none;
}

/* TOP NAV BAR */

.container-fluid ul a{
    color: #094067;
    text-transform: uppercase;
    font-weight: 300;
}

.container-fluid ul a:hover{
    color: black;
}

/* END TOP NAV BAR */

/* LANDING PAGE */

div.cover-container main{
    margin-top: 100px;
}

div.cover-container p.lead{
    margin-top: 10px;
}

div.cover-container p.lead .btn{
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 20px;
    background-color: #3da9fc;
    color: #fffffe;
}

/* END LANDING PAGE */

/* ARTICLES LIST */
.card {
    border-top: none;
}

.card-header {
    color: #3da9fc;
    background-color: #90b4ce;
}

.card-header span{
    color: #fffffe;
}

.card-header a{
    color: #fffffe;
}

.card-body a{
    text-decoration: none;
}

/* END ARTICLES LIST */

/* FORMS */

.container form .btn{
    background-color: #3da9fc;
    color: #fffffe;
    border: none;
}

/* END FORMS */
