<!-- templates/article_edit.html -->
{% extends 'base.html' %}
{% block content %}
<body class="d-flex h-100">

<div class="container">
    <div class="col-5 mx-auto text-center">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">Delete article</h3>
        <form action="" method="post"> {% csrf_token %}
            <p>Are you sure you want to delete "{{article.title}}"?</p>
            <button class="btn btn-danger" type="submit">Confirm</button>
        </form>
    </div>
</div>
</body>
{% endblock content %}