<!-- templates/article_list.html -->
{% extends 'base.html' %}
{% block title %}Articles{% endblock title %}
{% block content %}
<div class="container">
    <h3 class="pb-4 mb-4 fst-italic border-bottom">Article List</h3>
    <div class="row g-5">
        <div class="col-md-10">
            {% for article in article_list %}
            <div class="card">
                <div class="card-header">
                    <span class="font-weight-bold">{{article.title}}</span> &#8211;
                    <span class="text-muted">{{article.author}} | {{article.date}}</span>
                </div>
                <div class="card-body">
                    {{ article.body }}
                    <br/>
                    <a href="{% url 'article_edit' article.pk %}">Edit</a> |
                    <a href="{% url 'article_delete' article.pk %}">Delete</a>
                </div>
                <div class="card-footer text-muted">
                    {% for comment in article.comment_set.all %}
                    <span>by {{ comment.author }} &#8211; {{ comment }}</span>
                    {% endfor %}
                </div>
            </div>
            <br/>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}