<!-- templates/article_new.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="col-8 mx-auto">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">Write a new article</h3>
        <div class="bg-light p-4 p-md-5 border rounded-3">
            <form action="" method="post">{% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}