<!-- templates/article_edit.html -->
{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h3 class="pb-4 mb-4 fst-italic border-bottom">Article delete</h3>
    <div class="row g-5">
        <div class="col-md-8">
            <form action="" method="post"> {% csrf_token %}
                <p>Are you sure you want to delete "{{article.title}}"?</p>
                <button class="btn btn-danger" type="submit">Confirm</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}