{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<body class="d-flex h-100">

<div class="container">
    <div class="col-10 mx-auto">
        <h3 class="h3 mb-3 fw-normal text-center">My entries</h3>
        <hr/>
        {% for article in article_list reversed %}
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold"><a class="text-decoration-none"
                                                  href="{% url 'article_detail' article.pk %}">{{article.title}}</a></span>
                <br/>
                <span class="small">{{article.author}} | {{article.date}}</span>
            </div>
            <div class="card-body">
                {% if article.tags.all %}
                <span class="small">Tags&#58;</span>
                {% for tag in article.tags.all %}
                <a class="tags" href="{% url 'article_list' tag.slug %}">{{ tag.name }}</a>
                {% endfor %}
                <br>
                <br>
                {% endif %}
                {{ article.body|truncatechars:200 }}
                <br/>
                <hr/>
                {% if user.is_authenticated and user == article.author or user.is_superuser %}
                <a href="{% url 'article_edit' article.pk %}">edit</a>
                <a href="{% url 'article_delete' article.pk %}">delete</a>
                {% endif %}
            </div>
            <div class="card-footer">
                {% if article.comment_set.all %}
                <h6>Comments: ({{article.comment_set.count}})</h6>
                {% for comment in article.comment_set.all|slice:":3" %}
                <span>{{ comment.author }}&#58; {{ comment }}</span>
                <hr/>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <br/>
        <br/>
        {% endfor %}

    </div>
</div>
</body>
{% endblock %}